*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.container{
    margin: 100px;
    color: aliceblue;
}
h1{
    color: red;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 20px;
}
#skills{
    margin: 20px;
}
#experience{
    margin: 20px;
}
#education{
    margin: 20px;
}
.row{
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
}
.row :hover{
    color: red;
}
span{
    color: red;
}
.column ul li{
    margin: 10px 0;
}
.row1::after{
    content: "";
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 100px;
    bottom: 280px;
    transition: 0.5s;
}
.row1.active-row::after{
    width: 3%;
}
.column .tab-content li{
    list-style: none;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}